{% extends 'base.html' %}

{% block body %}

    <section class="my_body">
        <div class="my_form">
            <form method="GET" action="">
                <input type="search" name="serach" placeholder="SEARCH HERE">
                <input type="submit", value="SEARCH">
            </form>

            {% for data in permits %}
            <tr>
                <td>{{ data.Names }}</td>
                <td>{{ data.Card_number }}</td>
                <td>{{ data.Contact }}</td>
            </tr>
            {% endfor %}
        </div>

        
        <div class="my_form">
            <form method="POST" action="/post_driving_permit" enctype="multipart/form-data">
                <label><h3>FOR DRIVING PERMITS</h3></label>
                <input type="text" name="names" id="names" placeholder='Names Of' />
                <input type="text" name="permit_number" id="cardnumber" placeholder="Card Number" />
                <input type="text" name="contact" id="contact" placeholder="Contact" />
                <input type="file" name="image_file" id="image_file" placeholder="upload Image Here"/>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                    <li><input type="reset" value="Clear Form" class="alt" /></li>
                </ul>
            </form>
        </div>
    </section>

{% endblock %}